<header>
  <nav class="menu">
    <div class="white_line-up">
            <span class="white_line-text">
            М.ІВАНО-ФРАНКІВСЬК
            </span>
    </div>
    <div class="menu-content">
      <div class="menu_logo-size">
        <a class="menu__item menu__item--logo" href="#!/">
          <img src="../../../assets/images/logo.png" class="logo">
        </a>
      </div>
      <div ng-show="$root.showMenuItems" class="menu_item-move">
        <div class="menu__item menu__item--a">
          <a href="/news" class="menu__item--a">НОВИНИ</a>
        </div>
        <div class="menu__item menu__item--a">
          <!--href="/coach"-->
          <a class="menu__item--a "href="/coach">ТРЕНЕРА</a>
        </div>
        <div class="menu__item menu__item--a">
          <!--href="/passport"-->
          <a class="menu__item--a nonactive">ПАСПОРТ ГРАВЦЯ</a>
        </div>
        <div class="menu__item menu__item--a">
          <!--href="/video"-->
          <a class="menu__item--a nonactive">ВІДЕО</a>
        </div>
        <div class="menu__item menu__item--a">
          <a href="/photo" class="menu__item--a">ФОТО</a>
        </div>
        <div class="menu__item menu__item--a">
          <!--href="/team"-->
          <a class="menu__item--a" href="/team">5X5</a>
        </div>
        <div class="menu__item menu__item--a">
          <!--href="/3x3"-->
          <a class="menu__item--a nonactive">3X3</a>
        </div>
      </div>
      <div class="menu_logo-f">
        <a class="menu__f-logo  menu__item--logo" href="/login">
        </a>
      </div>

    </div>
  </nav>
</header>
