<section class="size_video-page">
  <div class="section_video">
    <div class="video_news-title">
      <strong>
        # ВІДЕО НОВИНИ
      </strong>
    </div>
    <div style="max-height: 320px" ng-scrollbars>
      <div style="width: 31%; height: 300px; display: inline-block; margin: 10px" *ngFor="let video of videos; let $index = index">
        <iframe width="100%" height="280"
                src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
      </div>
    </div>
  </div>
  <div class="section_school">
    <form name="outerForm" class="tab-form-demo">
      <!--<uib-tabset active="activeForm">-->
        <!--<uib-tab index="1" heading="Зонний захист">-->
          <!--<div class="message_for-people">-->
            <!--<strong>!!! НЕЗАБАРОМ БУДЕ ДОСТУПНО !!!</strong>-->
          <!--</div>-->
        <!--</uib-tab>-->
        <!--<uib-tab index="2" heading="Особистий захист">-->
          <!--<div class="message_for-people">-->
            <!--<strong>!!! НЕЗАБАРОМ БУДЕ ДОСТУПНО !!!</strong>-->
          <!--</div>-->
        <!--</uib-tab>-->
        <!--<uib-tab index="3" heading="Техніка ведення">-->
          <!--<div class="message_for-people">-->
            <!--<strong>!!! НЕЗАБАРОМ БУДЕ ДОСТУПНО !!!</strong>-->
          <!--</div>-->
        <!--</uib-tab>-->
        <!--<uib-tab index="4" heading="Техніка кидку">-->
          <!--<div class="message_for-people">-->
            <!--<strong>!!! НЕЗАБАРОМ БУДЕ ДОСТУПНО !!!</strong>-->
          <!--</div>-->
        <!--</uib-tab>-->
      <!--</uib-tabset>-->
    </form>
  </div>
</section>
