.presidia_zone{
  padding: 100px 70px 20px 70px;
  cursor: context-menu;
}


.move_presidia{
  color: #1f1f1f;
  font-size: 30px;
  display: block;
  margin-bottom: 20px;
}


.presidia-card {
  max-width: 281px;
  padding-top: 0;
  background-color: #1f1f1f;
  display: inline-block;
  margin: 15px 15px 0 0;
}

.mat-card-header.top-header {
  margin-left: -24px;
  margin-right: -24px;
  padding: 18px 18px 0 18px;
  background-color: #0288D1;
}

.top-header .mat-card-title {
  font-weight: 500;
  color: white;
  font-size: 16px;
}

.middle-header .mat-card-title {
  font-weight: 500;
  color: white;
  font-size: 25px;
  margin-bottom: 0;
}

.mat-card-image {
  margin-bottom: 0;
}

.middle-header.mat-card-header {
  margin-left: -15px;
  margin-top: 5px;
}

.mat-card-content {
  color: #d0d0d0;
  margin: 9px -6px;
}
