<section class="presidia_zone">
  <div class="move_presidia"> ПРЕЗИДІЯ </div>
  <!--<div class="presidia_cards-zone">-->
    <!--<div class="presidia_card">-->
      <!--<div class="card_up-line"></div>-->
      <!--<div class="card_photo"></div>-->
    <!--</div>-->
  <!--</div>-->
  <mat-card class="example-card presidia-card">
    <mat-card-header class="top-header">
      <mat-card-title>City | Region Federation</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/f-logo.jpg">
    <mat-card-header class="middle-header">
      <mat-card-title>Marusiak Vladyslav</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="news-description">
        Web manager
      </p>
    </mat-card-content>
    <mat-card-content>
      <i class="fa fa-phone"></i><samp style="display: block"> marusiakvlad0011@gmail.com</samp><samp style="display: block"> mail</samp>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card presidia-card">
    <mat-card-header class="top-header">
      <mat-card-title>City | Region Federation</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/f-logo.jpg">
    <mat-card-header class="middle-header">
      <mat-card-title>Marusiak Valentyn</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="news-description">
        Piar manager
      </p>
    </mat-card-content>
    <mat-card-content>
      <i class="fa fa-phone"></i><samp style="display: block"> 20fbs18@gmail.com</samp><samp style="display: block"> mail</samp>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card presidia-card">
    <mat-card-header class="top-header">
      <mat-card-title>City Federation</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/f-logo.jpg">
    <mat-card-header class="middle-header">
      <mat-card-title>Nevolin Dmitriy</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="news-description">
        Head of city federation
      </p>
    </mat-card-content>
    <mat-card-content>
      <i class="fa fa-phone"></i><samp style="display: block"> 20fbs18@gmail.com</samp><samp style="display: block"> mail</samp>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card presidia-card">
    <mat-card-header class="top-header">
      <mat-card-title>Region Federation</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/f-logo.jpg">
    <mat-card-header class="middle-header">
      <mat-card-title>Procuk Yurii</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="news-description">
        Head of region federation
      </p>
    </mat-card-content>
    <mat-card-content>
      <i class="fa fa-phone"></i><samp style="display: block"> 20fbs18@gmail.com</samp><samp style="display: block"> mail</samp>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card presidia-card">
    <mat-card-header class="top-header">
      <mat-card-title>City Federation</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/f-logo.jpg">
    <mat-card-header class="middle-header">
      <mat-card-title>Meniv Andrew</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="news-description">
        Journalist
      </p>
    </mat-card-content>
    <mat-card-content>
      <i class="fa fa-phone"></i><samp style="display: block"> 20fbs18@gmail.com</samp><samp style="display: block"> mail</samp>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card presidia-card">
    <mat-card-header class="top-header">
      <mat-card-title>City | Region Federation</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/f-logo.jpg">
    <mat-card-header class="middle-header">
      <mat-card-title>Chipka Lubomur</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="news-description">
        3x3 director
      </p>
    </mat-card-content>
    <mat-card-content>
      <i class="fa fa-phone"></i><samp style="display: block"> 20fbs18@gmail.com</samp><samp style="display: block"> mail</samp>
    </mat-card-content>
  </mat-card>
</section>
