<app-action-bar></app-action-bar>
<main class="content">
  <router-outlet></router-outlet>
</main>
<section class="botton-info">
  <div class="info_zone-2">
    <div class="info_zone-text">
      ТУРНІРИ
    </div>
    <div class="info_zone-content">
      <div class="info_zone-league">
        <span>СУПЕР ЛІГА (ЖІНКИ)</span><br>
        <span>ВИЩА ЛІГА (ЧОЛОВІКИ)</span><br>
        <span>ПЕРША ЛІГА (ЧОЛОВІКИ)</span><br>
        <span>СТУДЕНТСЬКА ЛІГА (ЧОЛОВІКИ)</span><br>
      </div>
      <div class="info_zone-league">
        <span>СТУДЕНТСЬКА ЛІГА (ЖІНКИ)</span><br>
        <span>WINTER 3X3</span><br>
        <span>ВЧІФ</span><br>
        <span>ОБЛ</span>
      </div>
    </div>
  </div>
  <div class="info_zone-1">
    <div class="info_zone-text">
      ІНФОРМАЦІЯ
    </div>
    <div class="info_zone-content">
      <a href="/presidia" target="_blank"><span>ПРЕЗИДІЯ</span></a><br>
      <span>ДОКУМЕНТИ</span><br>
      <span>ІНФОРМАЦІЯ ДЛЯ КОМАНД</span><br>
      <span>ІНФОРМАЦІЯ ДЛЯ СУДДІВ</span><br>
      <span>ІНФОРМАЦІЯ ДЛЯ ТРЕНЕРІВ</span>
    </div>
  </div>
  <div class="info_zone-3">
    <div class="info_zone-text">
      КОНТАКТИ
    </div>
    <div class="info_zone-content">
      <i class="fa fa-phone" aria-hidden="true"></i><span>+380 97 722 22 39</span> <span> - Дмитро Неволін</span><br>
      <i class="fa fa-map-marker" aria-hidden="true"></i><span> м.Івано-Франківськ</span><br>
      <i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:20fbs18@gmail.com"> <span>20fbs18@gmail.com</span></a>
    </div>
  </div>
</section>
