<ng-template #display let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark">Close</button>
  </div>
</ng-template>

<div class="icons_poster-size">
  <div class="icons_text-move">
    <strong>WE CAN DO IT</strong>
  </div>
  <div class="icons_text-slog">
    <strong>IVANO-FRANKIVSK</strong>
  </div>
</div>
<section>
  <div class="news_page">
    <div class="news">
      <div class="news_title">
        <strong>НОВИНИ</strong>
        <button *ngIf="getCredentials()" class="news_plus" (click)="addNewsModal.open = true; addNewsModal.type = 'GAME'">
          <strong>+</strong>
        </button>
      </div>
      <div class="overflow_news">
        <perfect-scrollbar style="max-height: 460px;">
          <div class="sub_list">
            <mat-card class="example-card" *ngFor="let news of newsList; let $index = index" (click)="openDescription('news' + $index)">
              <img mat-card-image src="{{news.image}}" alt="{{news.title}}">
              <mat-card-header>
                <mat-card-title>{{ news.title }}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p class="news-description">
                  {{ news.description }}
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>Дізнатися більше</button>
                <button mat-button *ngIf="getCredentials()" (click)="addNewsModal.type = 'GAME'; deleteNews(news.id, $index)">X</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </perfect-scrollbar>
      </div>
    </div>
    <div class="advertising_news">
      <div class="advertising_title">
        <strong>СПОНСОРИ</strong>
        <button *ngIf="getCredentials()" class="advertising_plus" (click)="addSponsorModal.open = true">
          <strong>+</strong>
        </button>
      </div>
      <div class="advertising">
        <perfect-scrollbar style="max-height: 450px;">
          <mat-card *ngFor="let adver of sponsorList" class="sponsor-block">
            <img mat-card-image src="{{adver.image}}" alt="sponsor" class="sponsor-image">
            <button class="sponsor-delete-button" mat-button *ngIf="getCredentials()" (click)="deleteSponsor(adver.id, $index)">X</button>
          </mat-card>
        </perfect-scrollbar>
      </div>
    </div>
  </div>
</section>
<section class="instagram">
  <div class="follow">
    <div class="icon_instagram">
      <i class="fa fa-instagram" aria-hidden="true"></i>
      <a class="text_instagram" href="https://www.instagram.com/2018_fbs/?hl=uk"><strong>FOLLOW US AT @FBIF</strong></a>
    </div>
    <div class="instawidget"
         data-user-name="brooklynnets"
         data-amount="4"
         data-grid="4">
    </div>
  </div>
</section>
<section class="news_more">
  <div class="news_more-zone">
    <div class="news_more-text">
      <strong>ІНШІ НОВИНИ</strong>
      <button *ngIf="getCredentials()" class="news-more_plus" (click)="addNewsModal.open = true; addNewsModal.type = 'GENERAL'">
        <strong>+</strong>
      </button>
    </div>
    <perfect-scrollbar style="max-height: 500px;">
      <div class="max_height-more">
        <mat-card class="example-card" *ngFor="let news of newsMoreList; let $index = index" (click)="openDescription('news' + $index)">
          <img mat-card-image src="{{news.image}}" alt="{{news.title}}">
          <mat-card-header>
            <mat-card-title>{{ news.title }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="news-description">
              {{ news.description }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Дізнатися більше</button>
            <button mat-button *ngIf="getCredentials()" (click)="addNewsModal.type = 'GAME'; deleteNews(news.id, $index)">X</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </perfect-scrollbar>
  </div>
</section>
<section class="top_news-bac">
  <div class="text_middle-move">
    <strong>BASTION DEFENDERS</strong>
  </div>
  <div class="icons_text-slog" style="color: #161616">
    <strong>IVANO-FRANKIVSK</strong>
  </div>
</section>

<section class="section-adv" *ngIf="adverList.length !== 0">
  <div class="bottom-adv">
    <mat-card *ngFor="let adver of adverList" class="adv-block">
      <img mat-card-image src="{{adver.image}}" alt="sponsor" class="sponsor-image">
      <button class="sponsor-delete-button" mat-button *ngIf="getCredentials()" (click)="deleteSponsor(adver.id, $index)">X</button>
    </mat-card>
  </div>
</section>

<div class="modal show" *ngIf="addNewsModal.open">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">NEWS</h3>
      </div>
      <div class="modal-body">
        <div class="padding_modal">
          <input placeholder="text" class="title_modal" [(ngModel)]="addNewsModal.title">
        </div>
        <div class="padding_modal">
          <input placeholder="image" type="file" accept="image/*" (change)="handleFileSelect($event)">
        </div>
        <div>
          <textarea placeholder="description" class="title_modal" [(ngModel)]="addNewsModal.description"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button class="primary" type="button" (click)="createNewNews()">OK</button>
        <button class="warning" type="button" (click)="addNewsModal.open = false">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal show" *ngIf="showNewsModal.open">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ showNewsModal.selected.title }}</h3>
      </div>
      <div class="img_news-scrol">
      </div>
      <div class="modal-body" >
        {{ showNewsModal.selected.description }}
      </div>
      <div class="modal-footer">
        <button class="primary" type="button" (click)="showNewsModal.open = false">OK</button>
      </div>
    </div>
  </div>
</div>

<div class="modal show" *ngIf="addSponsorModal.open">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">SPONSORS</h3>
      </div>
      <div class="modal-body">
        <input placeholder="image" type="file" accept="image/*" (change)="handleFileSelect($event)">
      </div>
      <div class="modal-footer">
        <button class="primary" type="button" (click)="createSponsor()">OK</button>
        <button class="warning" type="button" (click)="addSponsorModal.open = false">Cancel</button>
      </div>
    </div>
  </div>
</div>
