.one-card {
    margin-bottom: 30px;
}

.search {
    margin: 20px 0 30px 0;
}

.search input {
    border: none;
    border-bottom: 2px solid #8ab599;
    padding: 9px 0;
    margin-bottom: 30px;
    width: calc(100% - 150px);
}

.search .read-more {
    display: inline-block;
     float: right;
}

.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #5cb3fd;
}

.sub_list, .max_height-more {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1px;
}
.news_more .example-card {
  width: 20%;
}

.example-card {
  display: inline-block;
  margin: 1px 20px 20px 0;
  width: 26%;
}

.news.mat-card-image, .news_more.mat-card-image {
  max-height: 200px;
  margin-bottom: 10px;
}

.news .mat-card-header, .news_more .mat-card-header {
  margin: 0 -8px 5px -8px;
}

.news .mat-card-header-text .mat-card-title, .news_more .mat-card-header-text .mat-card-title  {
  font-size: 15px;
}

.news-description {
  color: rgba(0, 0, 0, 0.54);
  font-weight: 400;
  max-height: 120px;
  overflow: hidden;
}

.sponsor-block {
  position: relative;
  max-height: 250px;
  margin: 0 20px 10px 0;
  overflow: hidden;
}

.sponsor-delete-button {
  position: absolute;
  top: 0;
  right: 0;
  background: black;
  color: white;
}

.news .mat-card-title, .news_more .mat-card-title {
  font-weight: 500;
  max-height: 34px;
  overflow: hidden;
}

.section-adv {
  padding: 40px
}

.bottom-adv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.adv-block {
  margin: 0 20px 10px 0;
  width: 200px
}

