<section class="coach-page">
  <div class="coach_zone">
    <div class="coach_text-title">
      <strong (click)="changeCoachList()">{{title}}</strong>
    </div>
    <div class="coach_cards-zone">
      <div class="coach_card" *ngFor="let coach of coachList; let $index = index">
        <div class="coach_photo" [ngStyle]="{'background-image': 'url(' + coach.img + ')'}">
        </div>
        <div class="coach_info">
          <div class="coach_name-info">
            <strong>{{ coach.name }}</strong>
          </div>
          <div class="coach_work-info">
            <strong>{{ coach.speciality }}</strong>
          </div>
          <div class="coach_age-info">
            <strong>ВІК: {{ coach.age }}</strong>
          </div>
          <div class="coach_number-info">
            <strong>НОМЕР: {{ coach.phone }}</strong>
          </div>
          <div class="coach_mail-info">
            <strong>ПОШТА: {{ coach.mail }}</strong>
          </div>
        </div>
      </div>
    </div>

    <mat-card class="example-card presidia-card">
      <img mat-card-image src="../../../assets/images/f-logo.jpg">
      <mat-card-header class="middle-header">
        <mat-card-title>Marusiak Vladyslav</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="news-description">
          Coach Frankivsk team
        </p>
      </mat-card-content>
      <mat-card-content>
        <p class="news-description">
          City: Frankivsk
        </p>
        <!--<i class="fa fa-phone"></i><span style="display: block"></span>-->
      </mat-card-content>
      <mat-card-content>
        <p class="news-description">
          Mail: 20fbs18@gmail.com
        </p>
        <!--<i class="fa fa-phone"></i><span style="display: block">Mail: 20fbs18@gmail.com</span>-->
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card presidia-card">
      <img mat-card-image src="../../../assets/images/f-logo.jpg">
      <mat-card-header class="middle-header">
        <mat-card-title>Marusiak Vladyslav</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="news-description">
          Coach Frankivsk team
        </p>
      </mat-card-content>
      <mat-card-content>
        <p class="news-description">
          City: Frankivsk
        </p>
        <!--<i class="fa fa-phone"></i><span style="display: block"></span>-->
      </mat-card-content>
      <mat-card-content>
        <p class="news-description">
          Mail: 20fbs18@gmail.com
        </p>
        <!--<i class="fa fa-phone"></i><span style="display: block">Mail: 20fbs18@gmail.com</span>-->
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card presidia-card">
      <img mat-card-image src="../../../assets/images/f-logo.jpg">
      <mat-card-header class="middle-header">
        <mat-card-title>Marusiak Vladyslav</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="news-description">
          Coach Frankivsk team
        </p>
      </mat-card-content>
      <mat-card-content>
        <p class="news-description">
          City: Frankivsk
        </p>
        <!--<i class="fa fa-phone"></i><span style="display: block"></span>-->
      </mat-card-content>
      <mat-card-content>
        <p class="news-description">
          Mail: 20fbs18@gmail.com
        </p>
        <!--<i class="fa fa-phone"></i><span style="display: block">Mail: 20fbs18@gmail.com</span>-->
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card presidia-card">
      <img mat-card-image src="../../../assets/images/f-logo.jpg">
      <mat-card-header class="middle-header">
        <mat-card-title>Marusiak Vladyslav</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="news-description">
          Coach Frankivsk team
        </p>
      </mat-card-content>
      <mat-card-content>
        <p class="news-description">
          City: Frankivsk
        </p>
        <!--<i class="fa fa-phone"></i><span style="display: block"></span>-->
      </mat-card-content>
      <mat-card-content>
        <p class="news-description">
          Mail: 20fbs18@gmail.com
        </p>
        <!--<i class="fa fa-phone"></i><span style="display: block">Mail: 20fbs18@gmail.com</span>-->
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card presidia-card">
      <img mat-card-image src="../../../assets/images/f-logo.jpg">
      <mat-card-header class="middle-header">
        <mat-card-title>Marusiak Vladyslav</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="news-description">
          Coach Frankivsk team
        </p>
      </mat-card-content>
      <mat-card-content>
        <p class="news-description">
          City: Frankivsk
        </p>
        <!--<i class="fa fa-phone"></i><span style="display: block"></span>-->
      </mat-card-content>
      <mat-card-content>
        <p class="news-description">
          Mail: 20fbs18@gmail.com
        </p>
        <!--<i class="fa fa-phone"></i><span style="display: block">Mail: 20fbs18@gmail.com</span>-->
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card presidia-card">
      <img mat-card-image src="../../../assets/images/f-logo.jpg">
      <mat-card-header class="middle-header">
        <mat-card-title>Marusiak Vladyslav</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="news-description">
          Coach Frankivsk team
        </p>
      </mat-card-content>
      <mat-card-content>
        <p class="news-description">
          City: Frankivsk
        </p>
        <!--<i class="fa fa-phone"></i><span style="display: block"></span>-->
      </mat-card-content>
      <mat-card-content>
        <p class="news-description">
          Mail: 20fbs18@gmail.com
        </p>
        <!--<i class="fa fa-phone"></i><span style="display: block">Mail: 20fbs18@gmail.com</span>-->
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card presidia-card">
      <img mat-card-image src="../../../assets/images/f-logo.jpg">
      <mat-card-header class="middle-header">
        <mat-card-title>Marusiak Vladyslav</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="news-description">
          Coach Frankivsk team
        </p>
      </mat-card-content>
      <mat-card-content>
        <p class="news-description">
          City: Frankivsk
        </p>
        <!--<i class="fa fa-phone"></i><span style="display: block"></span>-->
      </mat-card-content>
      <mat-card-content>
        <p class="news-description">
          Mail: 20fbs18@gmail.com
        </p>
        <!--<i class="fa fa-phone"></i><span style="display: block">Mail: 20fbs18@gmail.com</span>-->
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card presidia-card">
      <img mat-card-image src="../../../assets/images/f-logo.jpg">
      <mat-card-header class="middle-header">
        <mat-card-title>Marusiak Vladyslav</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="news-description">
          Coach Frankivsk team
        </p>
      </mat-card-content>
      <mat-card-content>
        <p class="news-description">
          City: Frankivsk
        </p>
        <!--<i class="fa fa-phone"></i><span style="display: block"></span>-->
      </mat-card-content>
      <mat-card-content>
        <p class="news-description">
          Mail: 20fbs18@gmail.com
        </p>
        <!--<i class="fa fa-phone"></i><span style="display: block">Mail: 20fbs18@gmail.com</span>-->
      </mat-card-content>
    </mat-card>
  </div>
</section>
