.presidia_zone{
    padding: 100px 70px 20px 70px;
    cursor: context-menu;
}


.move_presidia{
    color: #ffffff;
    font-size: 30px;
    display: block;
    margin-bottom: 20px;
}


.presidia-card {
    max-width: 281px;
    padding-top: 0;
    background-color: #ffffff;
    display: inline-block;
    margin: 15px 15px 0 0;
}

.mat-card-header.top-header {
    margin-left: -24px;
    margin-right: -24px;
    padding: 18px 18px 0 18px;
    background-color: #ffffff;
}

.top-header .mat-card-title {
    font-weight: 500;
    color: white;
    font-size: 16px;
}

.middle-header .mat-card-title {
    font-weight: 500;
    color: #000000;
    font-size: 25px;
    margin-bottom: 0;
}

.mat-card-image {
    margin-bottom: 0;
}

.middle-header.mat-card-header {
    margin-left: -15px;
    margin-top: 5px;
}

.mat-card-content {
    color: #161616;
    margin: 9px -6px;
}

.news-description {
    color: rgba(0, 0, 0, 0.54);
}

.middle-header.mat-card-header {
    margin-bottom: 30px;
}

.example-card.presidia-card.mat-card {
    width: calc(20% - 2px);
    margin: 15px 7px 25px 7px;
}