.photo_section {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1px;
    align-items: center;
    justify-content: center;
}

.sponsor-block {
    margin: 0 10px 20px 10px;
    max-width: 20%;
    display: inline-table;
}