
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

div, a, p, h1, h2, h3, h4, h5, h6, strong {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

/* header menu bar*/

.white_line-up{
  height: 20px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  display: block;
  box-shadow: 0 0 5px black;
}

.white_line-text{
  color: #2b2b2b;
  padding-left: 60px;
  font-family: Arial Black;
  text-decoration: none;
  font-size: 10px;

}

.menu {
  width: 100%;
  height: 70px;
  border-spacing: 0;
  max-height: 70px;
  position: fixed;
  z-index: 30;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.menu_logo-size{
  vertical-align: middle;
  display: inline-block;
}

.menu-content {
  width: 100%;
  height: 100%;
  margin: auto;
  font-family: Arial;
  margin-top: 20px;
  webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  background-color: #1f1f1f;
}

.menu__item {
  text-align: center;
  vertical-align: bottom;
  max-height: 100%;
  display: inline-block;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  padding-left: 60px;
}

.menu__item--a:focus, menu__item--a:active{
  color: white;
  text-decoration: none;
  outline: none;
}

.menu__f-logo {
  text-align: center;
  vertical-align: bottom;
  max-height: 100%;
  display: inline-block;
  cursor: initial;
  position: relative;
  text-decoration: none;
  padding-right: 100px;
}

.logo{

}

.menu__item--logo {
  height: 100%;
  margin-top: -1px;
}

.menu_logo-f{
  float: right;
  height: 100%;
  width: 100px;
  background-image: url("assets/images/f-logo.jpg") ;
  display: inline-block;
  background-size: auto 100%;
  background-repeat: no-repeat;
  margin-left: 30%;
}

.menu__item img {
  height: 61px;
  margin: auto;
}

.menu__item--a {
  margin: auto;
  color: white;
  padding: 8px;
  text-decoration: none;
  font-size: 14px;
  vertical-align: center;
}

.menu_item-move{
  display: inline-block;
  padding: 0 0 0 10px;
  margin-top: 6px;
  vertical-align: middle;
}

.menu__item--a:hover {
  color: #ffd900;
  transition: all .3s;
  text-decoration: none;
}

.menu__item--a.nonactive, .menu__item--a.nonactive:active, .menu__item--a.nonactive:focus {
  color: #4e4c51;
}

.menu__item .sub-menu {
  display: none;
  position: absolute;
  list-style-type: none;
  padding: 0;
  width: 200px;
  background: rgb(51, 51, 51);
  color: black;
  text-align: left;
}

.sub-menu-color{
  margin: auto;
  color: #ffffff;
  text-decoration: none;

}
.item-sub{
  display: inline-block;
}

.sub-menu-color:hover{
  color: #ffd500;
}

.menu__item .sub-menu li {
  padding: 10px 5px;
}

.menu__item:hover .sub-menu {
  display: block;
}

.menu__item .sub-menu li:hover  {
  color: #ffffff;
}

.move{
  width: 150px;
  display: inline-block;
  cursor: pointer;
  float: right;
  margin-top: 5px;
  font-size: 10px;
}

.menu__entrance{
  color: white;
  padding-right: 3px;
}


/*Icons for menu*/

.social{
  position: fixed;
  top: 215px;
  left: 0;
  z-index: 1000;
}
.dws-button{
  background-color: #ffd500;
  width: 100px;
  height: 50px;
  padding: 5px;
  transition: all 0.5s;
}

a i.fa{
  font-size: 23px;
  text-align: center;
  display: block;
  color: white;
}
.dws-share{
  float: left;
  width: 30px;
}
.dws-text{
  float: right;
  font-size: 25px;
  position: relative;
  top: 2px;
  right: 5px;
  color: white;
}
.dws-facebook {background-color: #161616;}
.dws-vk {background-color: #161616;}
.dws-twitter {background-color: #161616;}
.dws-youtube {background-color: #161616;}
.dws-envelope-o {background-color: #161616;}



.dws-button{
  width: 40px;
  height: 35px;
  padding: 5px;
  overflow: hidden;
}
.dws-button:hover{
  background-color: #000;
  width: 70px;
  padding-left: 10px;
}
.dws-facebook:hover{width: 67px}
.dws-vk:hover:hover{width: 67px}
.dws-youtube:hover{width: 67px}
.dws-twitter:hover{width: 67px}
.dws-envelope-o:hover{width: 67px}


/* Main Content */
.content {
  min-height: 700px;
  width: 100%;
  padding-top: 10px;
  z-index: 25;
  position: relative;
  background: white;

}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.product-list {
  width: 85%;
  margin: auto;
}

.grid__item {
  text-align: center;
  flex-basis: calc(10% - 40px);
  justify-content: center;
  flex-direction: column;
  margin:10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgb(138, 43, 226);

}

.size {
  width: 350px;
  height: 170px;
}

.item-content {
  padding: 10px 5px;
}

/*Name produkt*/

.grid__item a {
  text-decoration: none;
  color: #ffffff;
  transition: all .5s;
}
/*zmina color*/
.grid__item a:hover {
  color: #ffffff;
}
.content {
  width: 100%;
  z-index: 25;
  position: relative;
  background: white;

}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.product-list {
  width: 85%;
  margin: auto;
}

.grid__item {
  text-align: center;
  flex-basis: calc(10% - 40px);
  justify-content: center;
  flex-direction: column;
  margin:10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgb(138, 43, 226);

}

.size {
  width: 350px;
  height: 170px;
}

.size3 {
  width: 370px;
  height: 170px;

}

.item-content {
  padding: 10px ;
}

.grid__item a {
  text-decoration: none;
  color: #ffffff;
  transition: all .5s;

}

.grid__item a:hover {
  color: #ffffff;
}

.size2 {
  width: 720px;
  height: 420px;
}
.grid__item1 {
  text-align: center;
  flex-basis: calc(10% - 40px);
  justify-content: center;
  flex-direction: column;
  margin:0 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgb(255, 255, 255);}

.red {
  background-color: red;

}

.button-login{
  background-color: #8a2be2;
  width: 170px;
  height: 50px;
  color: #ffffff;
  cursor: pointer;
  border: 0px;
  text-decoration: none;
  border-radius: 7px;
  text-align: center;
  font-size: 20px;
  margin: 70px 0 0 370px;
  transition: all .3s;
}

.button-login:hover{
  box-shadow: 0 0 30px #8a2be2;
}

.button-login_in{
  background-color: #8a2be2;
  width: 170px;
  height: 50px;
  color: #ffffff;
  cursor: pointer;
  border: 0;
  text-decoration: none;
  border-radius: 7px;
  text-align: center;
  font-size: 20px;
  margin: 70px 10px 47px 0;
  transition: all .3s;
  display: inline-block;
  max-height: 100%;
}

.button-login_in:hover{
  box-shadow: 0 0 30px #8a2be2;
}

.logo_login{
  position: absolute;
  z-index: 0;
  display: inline-block;
  margin: 30px 0 0 200px;
}

.login_text{
  margin: 160px 0 208px 380px;
  text-shadow: .5px .5px #414141;
}

.botton-line__login {
  width: 100%;
  height: 20px;
  background: #000;
  z-index: 30;
  box-shadow: 0 0 10px rgba(0,0,0,.5)

}

.BKK-login_text{
  color: white;
  text-align: center;
  max-height: 100%;
  display: inline-block;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.BKK-login_color{
  color: #8a2be2;
}

/* STATISTICS BAR */

.stats_bar{
  height: 92px;
  max-height: 92px;
  max-width: 100%;
  width: 100%;
  margin-top: 5px;
  background-color: #ffffff;
}

.stats_left-arrow{
  height:100%;
  width: 1.5%;
  max-width: 1.5%;
  background-color: #2b2b2b;
  display: inline-block;
  margin-left: 2.5px;
  cursor: pointer;
}

.stats_center-content{
  height:100%;
  width: 96%;
  display: inline-block;
  border: 1px solid black;
  cursor: pointer;
}

.stats_right-arrow{
  height:100%;
  width: 1.5%;
  background-color: #2b2b2b;
  display: inline-block;
  max-width: 1.5%;
  cursor: pointer;
}

.stats_left-game{
  height: 100%;
  width: 33%;
  background-image: url("assets/images/white-court-background-no-noise-lighter.jpg");
  border-right: 1px solid black;
  display: inline-block;

}

.stats_center-game{
  height: 100%;
  width: 33.4%;
  background-image: url("assets/images/white-court-background-no-noise-lighter.jpg");
  display: inline-block;

}

.stats_right-game{
  height: 100%;
  width: 33%;
  background-image: url("assets/images/white-court-background-no-noise-lighter.jpg");
  border-left: 1px solid black;
  display: inline-block;

}

.move-i{
  float: right;
  color: #ffffff;
  margin:40px 4px 0 0;
  cursor: pointer;
}

.move-i:hover {
  color: #ffd500;
}


/*earch*/

.topnav{
  display: inline-block;
  margin: 0 0 17px 140px;
}

.search{
  height: 27px;
  width: 30px;
}

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  width: 500px;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: rgba(119, 119, 119, 0.48);
  color: #ffd500;
}

.main{
  padding: 50px 0 0 0;
  height: 50px;
  width: 100%;
}

/* TOP NEVS */

.top_news-bac{
  background-image: url("assets/images/back-2.jpg") ;
  margin-top: 5px;
  height: 130px;
  padding: 15%;
  background-repeat: no-repeat ;
  background-size: 100%;
  vertical-align: center;
}

.text_middle-move{
  height: 100px;
  width: 790px;
  margin: auto;
  border: 5px solid white;
  color: #ffffff;
  text-align: center;
  vertical-align: center;
  font-size: 70px;
}

.text_middle-move strong {
  vertical-align: middle;
}

/* CHAT BUTTON */

.chat_button{
  height: 40px;
  width: 7%;
  background-color: #2b2b2b;
  position: fixed;
  left: 93%;
  top: 575px;
  padding: 6px 0 0 10px;
  cursor: pointer;
}

.chat_button:hover{
  left: 92%;
  width: 8%;
  background-color: orange;
}

#call{
  color: white;
  display: inline-block;
  font-size: 20px;
}

/*NEWS PAGE*/

.news_page{
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  height: 570px;
  width: 100%;
  max-height: 780px;
}

.news{
  margin-right: 20px;
  flex: 3;
  padding: 40px 0 0 70px;
  height: 665px;
  max-height: 780px;

}

.news_title{
  color: #1f1f1f;
  font-size: 30px;
  margin-bottom: 10px;
}

.news_img{
  background-repeat: no-repeat;
  height: 180px;
  width: 40%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  display: inline-block;
  float: left;
}

.news_text{
  width: 100%;
  height: 130px;
  padding: 10px 10px 0 20px;
  float: left;
  max-height:150px;
  text-align: left;
  font-size: 19px;
  display: block;
  color: #37474F;
}

.button-delete_news{
  background-color: #161616;
  height: 40px;
  width: 40px;
  color: #ffffff;
  font-size: 17px;
  border: none;
  margin: 5px 10px 5px 0;
  float: right;
  display: inline-block;
}

.button-delete_news:hover{
  background-color: #161616;
  height: 40px;
  width: 40px;
  color: #e9c200;
  font-size: 20px;
  border: none;
  display: inline-block;
}

.button-more{
  background-color: #161616;
  height: 40px;
  width: 150px;
  color: #ffffff;
  font-size: 15px;
  border: none;
  margin: 5px 5px 5px 0;
  display: inline-block;
  float: right;
}

.news_zone{
  display: inline-block;
  width: 60%;
  height: 180px;
  float: left;
}

.news_plus{
  height: 30px;
  width: 30px;
  color: white;
  background-color: #161616;
  border: none;
  font-size: 20px;
  border-radius: 2px;
  margin-left: 75.7%;
}

.horizontal-collapse {
  height: 70px;
}
.navbar-collapse.in {
  overflow-y: hidden;
}

.news_size{
  width: 99%;
  padding: 0;
  background-color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
}

.dd{
  height: 180px;
}

.advertising_title{
  color: #1f1f1f;
  font-size: 30px;
  margin-bottom: 10px;
  display:block;
  background-color: white;
}

.advertising{
  width: 100%;
  height: 100%;
  padding-top: 20px;
  overflow: auto;

}

.advertising_plus{
  height: 30px;
  width: 30px;
  color: white;
  background-color: #161616;
  border: none;
  font-size: 20px;
  border-radius: 2px;
  margin-left: 34%;
}

.advertising_news{
  padding: 40px 70px 0 0;
  flex: 1;
  height: 85%;
  display: inline-block;
}

.overflow_news {
  overflow: auto;
  width: 100%;
  height: 100%;
  margin: 30px 0 0 0;
}

.overflow_news .sub_list {
  padding: 0 10px 5px 5px
}

/*INSTAGRAM*/

.instagram{
  width: 100%;
  height: 450px;
  background-color: #1f1f1f;
}

.instawidget{
  margin-left: 5%;
  height: 100%;
  width: 90%;
}

.follow{
  width: 85%;
  height: 175px;
  text-align: center;
  padding: 50px 0 0 7.5%;
  text-decoration: none;

}

.icon_instagram{
  font-size: 35px;
  color: white;
  margin: 0 0 50px 55px;
}

.text_instagram{
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.text_instagram:hover{
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.test_instagram:hover{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.adver_img{
  height: 33%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  display: block;
  margin-bottom: 1%;
}

.sponsor-image.mat-card-image {
  margin-bottom: -28px !important;
}


/*NEWS MORE*/

.news_more{
  height: 620px;
  width: 100%;
  background-color: white;
}

.news_more-zone{
  width: 90%;
  height: 100%;
  margin-left: 5%;
  padding: 20px 0 0 0;
}

.news_more-text{
  font-size: 25px;
  color: #242424;
  margin: 10px 0 20px 0;
}

.new_more-post {
  height: 240px;
  width: 315px;
  display: inline-block;
  box-shadow: 0 0 2px black;
  float: left;
  text-align: left;
  margin: 5px 5px 20px 5px;

}

.news-more_plus{
  color: white;
  background-color: #161616;
  border: none;
  border-radius: 2px;
  margin-left: 80.8%;
}

.news_size{
  width: 99%;
  padding: 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
  cursor: pointer;
}

.news_size:hover {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

.news_more-img{
  background-size: 100% 100%;
  height: 180px;
  width: 100%;

}

.button-delete_news_more{
  height: 40px;
  width: 40px;
  color: white;
  background-color: rgba(22, 22, 22, 0.8);
  margin: 0 0 0 85%;
  border: none;
  font-size: 17px;
}

.button-delete_news_more:hover{
  height: 40px;
  width: 40px;
  color: white;
  background-color: rgba(22, 22, 22, 0.6);
  margin: 0 0 0 85%;
  border: none;
  color: #ffd500;
  font-size: 20px;
}

.button-new_more{
  background-color: #161616;
  height: 60px;
  width: 100%;
  color: #ffffff;
  border: none;
  display: block;
}

.news-text_more{
  font-size: 13px;
  padding: 10px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;     /* fallback */
  max-height: 32px;      /* fallback */
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.botton-info{
  padding-top: 20px;
  display: flex;
  height: 200px;
  width: 100%;
  background-color: #1f1f1f;
  margin:0;
}

.info_zone-1{
  width: 20%;
  height: 100%;
  flex: 1;
}
.info_zone-2{
  width: 50%;
  height: 100%;
  flex: 2;
}
.info_zone-3{
  width: 30%;
  height: 100%;
  flex: 1;
}

.info_zone-text{
  height: 30px;
  color: #ffffff;
  font-size: 22px;
  text-decoration: none;
  font-family: Arial Black;
  padding: 10px 5% 20px 14%;
}

.info_zone-content{
  color: white;
  font-size: 13px;
  text-align: left;
  padding: 10px 5% 20px 14%;

}

.info_zone-content > a {
  text-decoration: none;
  color: white;
}

.info_zone-league{
  width: 50%;
  color: white;
  text-align: left;
  float: left;
}

.primary{
  background-color: #161616;
  border: none;
  color: white;
  height: 30px;
  width: 100px;
}

.warning{
  background-color: orange;
  border: none;
  color: white;
  height: 30px;
  width: 100px;
}

.padding_modal{
  padding: 0 0 10px 0px;
}

.title_modal{
  border: 1px solid #242424;
  padding-left: 5px;
  color: #161616;
}

.title_modal:active{
  border: 1px solid #242424;
  padding-left: 5px;
  color: #161616;
}

/* COACH PAGE*/

.coach-page{
  padding: 115px 70px 55px 70px;
}

.coach_zone{
  width: 100%;
}

.coach_text-title{
  height: 40px;
  width: 100%;
  display: block;
  color: #161616;
  font-size: 30px;
  margin-bottom: 30px;
}

.coach_cards-zone{
  width: 100%;
  display: block;
  height: 100%;
}

.coach_card {
  width: 49%;
  height: 180px;
  margin: 0 0.5% 1% 0.5%;
  float: left;
  box-shadow: 0 0 5px black;
}

.coach_photo{
  background-repeat: no-repeat;
  background-size: 100% 180px;
  height: 100%;
  width: 35%;
  float: left;
  background-color: black;
  display: inline-block;
}

.coach_info{
  height: 100%;
  width: 65%;
  float: left;
  display: inline-block;
  padding: 2%;
}

.coach_name-info{
  height: 15%;
  width: 100%;
  font-size: 17px;
}

.coach_work-info{
  height: 15%;
  width: 100%;
  font-size: 15px;
  border-bottom:1.2px solid rgba(0, 0, 0, 0.71);
}

.coach_age-info{
  height: 15%;
  width: 100%;
  padding: 0 0 0 10px;
  display: block;
  margin-top: 6%;
}

.coach_number-info{
  height: 15%;
  width: 100%;
  padding: 0 0 0 10px;
  display: block;
}

.coach_mail-info{
  height: 15%;
  width: 100%;
  padding: 0 0 0 10px;
  display: block;
}

.stile_new{
  padding: 10px;
  text-indent: 25px;
  color: #546E7A;
}

.login_page-size{
  height: 437px;
  width: 100%;
  padding: 120px 9% 20px 5%;
}

.login_zone{
  height: 100%;
  width: 100%;
  padding: 5%;
}

.botton-login{
  background-color: #161616;
  border: none;
  box-shadow: 0 0 2px black;
  color: white;
  height: 30px;
  width: 100px;
}

.login_input{
  display: block;
  background-color: white;
  border: 1px solid black;
  margin-bottom: 5px;
}

.news_page-zone{
  height: auto;
  padding: 100px 70px 20px 70px ;
}

.news_content-zone{
  width: 100%;
  height: 100%;
}

.photo_page-size{
  height: auto;
  padding: 120px 70px 20px 70px;
}

.photo_element{
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  height: 220px;
  width: 27.5%;
  background-image: url("assets/images/basketball.jpg");
  /*border: 1.5px solid rgba(0, 0, 0, 0.71);*/
  box-shadow: 0 0 5px #524f4f;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

.photo_section{
  height: auto;
  width: 100%;
}

.team_page-size{
  height: 100%;
  width: 100%;
  padding: 100px 0 0 0 ;
  background-color: #e2e2e2;
}

.team_page-menu{
  height: 537px;
  width: 16%;
  background-image: url("assets/images/black-fon.jpg");
  display: inline-block;
  max-height: 537px;
  max-width: 220px;
  padding: 15px 0 15px 0;
  box-shadow: 0 0 10px black;
  vertical-align: top;
}

.text_menu-team{
  color: white;
  font-size: 25px;
  width: 100%;
  font-family: Arial;
  margin: 0 0 10px 10px;
}

.team_bar-line{
  background-color: #ffffff;
  height: 1px;
  width: 100%;
  display: block;
}

.panel-default, .panel-heading {
  background-color: initial !important;
  color: white !important;
  border: none !important;
}

.panel-body {
  padding: 0 0 0 0 !important;
}

.panel-group{
  margin: 0 !important;
}

.team{
  margin-bottom: 10px;
  border-bottom: 1.2px solid white;
  border-top: 1.2px solid white;
  background-image: url("assets/images/2057baa27a08dcb.jpg");
  padding: 5px 0 0 15px;
}

.text_size-barmenu{
  font-size: 15px;
}

.league_name {
  cursor: pointer;
  font-size: 16px;
  color: white;
  margin: 20px 15px;
}

.team_team-move{
  color: white;
  margin: 0 0 6px 0;
  display: block;
}

.team_bar-size{
  width: 100%;
  height: 90%;
  max-height: 90%;
}

.team_zone-right{
  height: 534px;
  width: 83.3%;
  max-height: 534px;
  max-width: 83.3%;
  color: black;
  display: inline-block;
  padding: 0.5% 3% 0 3%;
}

.team_cards-size{
  background-image: url("assets/images/2057baa27a08dcb.jpg") ;
  height: 250px;
  width: 19%;
  display: inline-block;
  margin: 5px 5px 5px 5px;
  box-shadow: 0 0 5px black;
}

.team-cards-text{
  width: 100%;
  height: 25%;
  background-color: rgba(17, 17, 17, 0.81);
  display: block;
}

.team-cards_img{
  width: 100%;
  height: 75%;
}

.cards_name-player{
  height: 100%;
  width: 75%;
  max-width: 80%;
  color: white;
  font-size: 20px;
  display: inline-block;
  padding-left: 5%;
  text-align: left;
}

.cards_number-player{
  height: 100%;
  width: 35%;
  max-width: 20%;
  color: #151515;
  font-size: 22px;
  background-color: rgba(255, 213, 0, 0.91);
  display: inline-block;
  vertical-align: top;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.button-delete_card{
  background-color: #161616;
  height: 40px;
  width: 40px;
  color: #ffffff;
  font-size: 15px;
  border: none;
  margin: 1px 0 0 80%;
  display: inline-block;
}

.team_cards-plus{
  background-image: url("assets/images/2057baa27a08dcb.jpg") ;
  height: 250px;
  width: 19%;
  display: inline-block;
  margin: 5px 5px 5px 5px;
  box-shadow: 0 0 5px black;
  vertical-align: top;
}


.button-plus_card{
  background-color: rgba(22, 22, 22, 0.71);
  height: 100%;
  width: 100%;
  color: #ffffff;
  font-size: 50px;
  border: none;
  display: inline-block;
}

.button-plus_card:hover{
  background-color: rgba(22, 22, 22, 0.81);
  height: 100%;
  width: 100%;
  color: #ffd500;
  font-size: 60px;
  border: none;
  display: inline-block;
}

.team_logo-zone{
  width: 100%;
  text-align: center;
  vertical-align: center;
  font-size: 40px;
  margin: 25px 0 5px 0;
}

.zone_3x3-right{
  height: 534px;
  width: 83.3%;
  max-height: 534px;
  max-width: 83.3%;
  color: black;
  display: inline-block;
  padding: 0.5% 3% 0 3%;
  text-align: center;
}

.icons_poster-size{
  height: 600px;
  position: relative;
  width: 100%;
  background-image: url("assets/images/back.jpg");
  background-repeat: no-repeat ;
  background-size: 100% ;
}

.icons_text-move {
  border: 5px solid white;
  color: #1f1f1f;
  height: 100px;
  width: 550px;
  vertical-align: center;
  text-align: center;
  font-size: 70px;
  position: absolute;
  top: 36%;
  left: 11%;
}

.icons_text-move > strong {
  vertical-align: middle;
}

.icons_text-slog {
  font-size: 15px;
  color: #1f1f1f;
  width: 800px;
  margin: auto;
}

.icons_poster-size .icons_text-slog {
  position: absolute;
  top: 54.5%;
  left: 11%;
}

.advertising_sections{
  height: 500px;
  width: 100%;
  border-top: 2px solid grey;
  padding-top: 20px;
}

.advertising_card{
  height: 200px;
  width: 24.3%;
  margin: 5px 5px 0 0;
  display: inline-block;
  border: 1.2px solid gray;
  background-image: url("assets/images/pnp.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.size_video-page{
  height: auto;
  width: 100%;
  padding: 120px  10% 0 10%;
}

.section_video{
  max-height: 400px;
  width: 100%;
}

.video_news-title{
  height: 40px;
  width: 100%;
  background-color: #161616;
  display: inline-block;
  padding: 10px 0 10px 20px;
  color: white;
}

.video_zone{
  height: 200px;
  width: 32%;
  border: 2px solid black;
  margin: 20px 5px 0 5px;
  display: inline-block;
}

.nav-tabs{
  background-color: #161616;
}

.nav{
  padding-left: 100px !important;
}

.nav-tabs>li>a {
  color: white;
  text-decoration: none;
  border-radius: 0 0 0 0 !important;
  margin-right: 0 !important;
}

.nav-tabs>li.active>a{
  color: black !important;
  border-top: 2px solid #161616 !important;
  margin: 0;
}

.section_school{
  height: 300px;
  width: 100%;

}

.message_for-people{
  height: 100px;
  width: 600px;
  border: 4px solid red;
  font-size: 30px;
  border-radius: 10px;
  padding: 25px;
  text-align: center;
  margin: 50px 0 0 20%;
}

.title_news-zone{
  width: 100%;
  display: block;
  color: #000000;
  font-size: 30px;
  margin: 0 0 20px 0;
}

.team_page-content{
  width: 83%;
  height: 100%;
  display: inline-block;
  padding: 15px 25px 10px 25px;
}

.text_register-pasport{
  color: white;
  height: auto;
  width: 100%;
  padding: 10px 10px 20px 12px;
  text-align: left;
  text-indent: 20px;
}

.button_add-pasport{
  height: 40px;
  width: 120px;
  background-color: #ffd500;
  color: black;
  border: none;
  text-align: center;
  font-size: 15px;
  margin: 0 0 0 12px;
}

.button_add-pasport:focus, .button_add-pasport:active{
  color: black;
  background-color: #ffd500;
  text-decoration: none;
  outline: none;
}

.register_imput{
  padding: 0 10px 10px 0px;
  display: inline-block;
}

.modal-body_instance{
  height: 270px;
  width: 50%;
  float: left;
  display: inline-block;
  padding: 12px;
  border-bottom: 2px solid rgba(71, 71, 71, 0.28);
  margin-bottom: 15px;
}

.modal_instance_title{
  font-size: 20px;
}

.modal-photo{
  height: 71%;
  width: 100%;
  display: inline-block;
  background-image: url("assets/images/tttr.png");
  background-size: 100% 100%;
}

.player_cards_size{
  height: 196.66px;
  max-height: 196.66px;
  width: 48%;
  max-width: 48%;
  background-color: #333132;
  display: inline-block;
  margin: 0 10px 15px 10px;
  box-shadow: 0 0 10px black;

}

.player_cards_photo{
  height: 196.66px;
  width: 28.66%;
  display: inline-block;
  float: left;
  background-size: 100% 100%;
}

.player_info_1{
  background-color: #ffd500;
  height: 20%;
  width: 100%;
  display: block;
  color: #4e4c51;

}

.player_info_2{
  background-color: #ffc300;
  height: 20%;
  width: 100%;
  display: block;
  color: #49474c;
}

.player_info_3{
  background-color: #ffb700;
  height: 20%;
  width: 100%;
  display: block;
  color: #403d43;
}

.player_info_4{
  background-color: #ff9d00;
  height: 20%;
  width: 100%;
  display: block;
  color:  #39373c;
}

.player_info_5{
  background-color: #ff9100;
  height: 20%;
  width: 100%;
  display: block;
  color: #403d43;
}

.player_info_size{
  height: 100%;
  width: 71.32%;
  display: inline-block;
  float: left;
}

.player_info_icons{
  height: 100%;
  width: 14%;
  display: inline-block;
  float: left
}

.player_info-1{
  height: 100%;
  width: 85%;
  background-color: #4e4c51;
  display: inline-block;
  color: white;
  padding: 10px;
  font-size: 15px;
}

.player_info-2{
  height: 100%;
  width: 85%;
  background-color: #49474c;
  display: inline-block;
  color: white;
  padding: 10px;
  font-size: 15px;
}

.player_info-3{
  height: 100%;
  width: 85%;
  background-color: #403d43;
  display: inline-block;
  color: white;
  padding: 10px;
  font-size: 15px;
}

.player_info-4{
  height: 100%;
  width: 85%;
  background-color: #39373c;
  display: inline-block;
  color: white;
  padding: 10px;
  font-size: 15px;
}

.player_info-5{
  height: 100%;
  width: 85%;
  background-color: #2f2c32;
  display: inline-block;
  color: white;
  padding: 10px;
  font-size: 15px;
}

.player_icons_size{
  text-align: center;
  font-size: 20px;
  margin: 10px 0 0 0;
}

.modal-section{
  height: 270px;
  width: 50%;
  padding: 43px 0 0 20px;
  display: inline-block;
  float: left;
  border-bottom: 2px solid rgba(71, 71, 71, 0.28);
  margin-bottom: 15px;
}

.modal, .modal-content {
  background: #00000052;
  height: 100%;
}

.modal-header {
  max-height: 100px;
}

.modal-dialog {
  margin: 10% auto !important;
  height: 70%;
}

.modal-body {
  height: calc(95% - 100px);
  overflow: auto;
}

@media only screen and (max-width: 600px) {
  main.content {
    width: 50pc;
    overflow: hidden;
  }
}

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
